:root{
    --verde-azulado: #9DD9BD;
    --verde-oscuro: #255941;
    --verde-grisaceo: #77A690;
    --verde-claro: #5EDFA3;
    --verde-oscuro-grisaceo: #40594E;
    --blanco: #FFFFFF;
    --negro: #000000;
}